@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.reset-css {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
}

.btn-logo {
  background-color: transparent;
  border-color: transparent;
}

.logo {
  width: 200px;
  transition: all 0.5s;
}

.logo:hover {
  transform: scale(1.1);
}

.header {
  display: flex;
  padding: 30px 0;
  justify-content: center;
  background-color: #282829 !important;
}

.background-navbar {
  background-color: rgba(22, 22, 23, 0.8);
}

.parent-navbar {
  width: 1500px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.child-navbar1 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  padding-left: 0;
}

.child-navbar1 li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 8px 20px;
}

.child-navbar1 li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

.child-navbar2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.child-navbar2 a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  margin: 8px 20px;
}

/* .navbar {
  background-color: rgba(22, 22, 23, 0.8) !important;
  padding: 5px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-navbar {
  max-width: 1500px;
}

.nav-item {
  margin-right: 50px;
  list-style: none;
  align-items: center;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 12px;
} */
/* 
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content li {
  list-style: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.dropdown-item:active {
  background-color: #717171;
} */

.dropdown {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown .dropdown-menu {
  min-width: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: #282829;
  border-radius: 4px;
  background-color: rgba(22, 22, 23, 0.3);
  overflow: hidden;
  min-width: 0;
  width: max-content;
}

.dropdown-content a {
  width: 100%;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #424242;
}

/* SearchBox */

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 5px;
  margin-right: 20px;
}
.input-search {
  width: 50px;
  border-style: none;
  padding: 0 10px;
  letter-spacing: 2px;
  outline: none;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  padding: 0;
  border-style: none;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  font-size: 12px;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.create-post-btn {
  transition: all 0.5s;
}

.create-post-btn:hover {
  transform: rotate(45deg);
}

.footer {
  width: 1500px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.footer .contact {
  width: 60%;
}

.footer .logo {
  width: 40%;
  justify-content: end;
  display: flex;
  align-items: center;
}

.footer .logo img {
  width: 50%;
  height: fit-content;
  padding: 10px;
}

.footer .contact a {
  text-decoration: none;
  color: black;
}

.post-bid {
  width: 1000px;
  margin: 60px auto;
}

.post-bid .card {
  position: relative;
  border-radius: 26px;
  overflow: hidden;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

// .create-post button {
//   background-color: white;
//   border: 1px solid grey;
//   border-radius: 4px;
//   font-size: 12px;
//   font-weight: bold;
//   display: flex;
//   margin: 10PX auto;
// }

.post-form-create input {
  border: none;
  display: block;
  width: 100%;
}

.post-form-create label {
  width: 100%;
  justify-content: center;
  display: flex;
  font-weight: bold;
}

.login-form {
  width: 1000px;
  margin: 200px auto;
  border-radius: 20px;
  box-shadow: rgba(37, 37, 37, 0.1) 0px 4px 12px;
}

.form-group {
  margin-bottom: 10px;
}

.login-lbl {
  display: flex;
  width: max-content;
  margin: 10px auto;
}

.login-form form {
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

.login-form .btn-acp-login {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form .btn-acp-login a {
  text-decoration: none;
  color: gray;
  align-items: center;
}

.login-form .btn-acp-login a:hover {
  color: black;
}

.cards-img-bottom {
  padding: 40px;
  width: 100%;
  display: flex;
}

.card-img {
  padding: 0;
  width: 50%;
}

.card-img div {
  margin: 0;
  padding: 0;
}

.header-create-post {
  display: flex;
  justify-content: center;
  border-bottom: #c0c0c0 0.5px solid;
}

.create-post {
  padding: 20px;
  width: 1000px;
  margin: 50px auto;
}

.create-post input {
  border: none;
}

.create-post .btn-primary {
  background-color: #c0c0c0;
  border: none;
  width: 100%;
}

.create-post .btn-primary:hover {
  background-color: #424242;
  border: none;
}

.home-create-post {
  display: flex;
  margin: 20px auto;
  background-color: #454545;
}

.dropdown-my-list-posts {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}

.dropdown-my-list-posts .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: grey;
  display: flex;
  align-items: center;
}

.dropdown-my-list-posts .dropdown-toggle::after {
  content: none;
}

.dropdown-my-list-posts .dropdown-toggle:active {
  background-color: transparent;
  color: initial;
}

.dropdown-my-list-posts li {
  text-align: center;
  width: fit-content;
}

.my-posts {
  width: 1400px;
  margin: 60px auto;
}

.home-header {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card > hr {
  margin: 0 40px;
  margin-bottom: 20px;
}

.form-comment {
  padding: 40px;
}

.form-comment .comment-area {
  width: 100%;
  display: flex;
  border: 1px rgba(128, 128, 128, 0.354) solid;
  border-radius: 26px;
  overflow: hidden;
  margin-top: 10px;
}

.comment-area button {
  background-color: grey;
  border: none;
  border-radius: 26px;
  margin: 10px;
}

.comment-area button:active {
  background-color: #282829;
}

.comment {
  padding: 40px;
  padding-bottom: 0;
}

.comment-content {
  margin-bottom: 20px;
  border-color: transparent;
  background-color: #343434;
  overflow: hidden;
  width: fit-content;
  padding: 10px 20px;
  box-shadow:
    0px 8px 12px 6px rgba(60, 64, 67, 0.15),
    0px 4px 4px rgba(60, 64, 67, 0.3);
  border-radius: 24px;
}

.comment-content .comment-content-color {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  color: #aae0d6;
  font-size: 14px;
  margin: auto 0;
  padding: 5px;
}

.content {
  display: flex;
}

.content .content-wrapper {
  padding: 50px 50px 0 50px;
  width: 70%;
}
.content-clock {
  margin: 25px 50px 0 50px;
  width: 30%;
  text-align: center;
  display: flex;
  align-items: center;
}

.topBidValue {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: fantasy;
  padding: 40px;
  padding-top: 0;
}

#topBidValue {
  font-family: fantasy;
  margin: 0;
  // margin-left: 5px;
}

.content-clock #clock {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  margin: 0;
  color: black;
}

#blur {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: linear-gradient(186deg, #212529, #000000c4);
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 40px;
}

.info-card {
  border: 1px rgba(128, 128, 128, 0.605) solid;
  width: 500px;
  margin: 100px auto;
  padding: 50px;
  border-radius: 26px;
  box-shadow:
    rgb(212, 225, 236) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.info-card .user-name,
.user-email {
  margin-bottom: 15px;
  text-align: center;
}

.info-card .user-email {
  text-align: center;
}

.info-card .log-out-btn {
  margin-bottom: 20px;
}

.edit-profile-btn {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.edit-profile-btn,
.fa-sign-out {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}

.edit-profile-btn:hover,
.fa-sign-out:hover {
  transform: scale(1.2);
}

.avatar-img {
  transition: all 0.5s;
}

.avatar:hover .avatar-img {
  transform: scale(1.5);
}

.info-card .avatar {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}

.user-avatar {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.info-card .user-name {
  font-size: 22px;
  font-weight: bold;
}

.wrapper {
  padding: 24px 0;
  filter: url("#goo");
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  text-align: center;
  background: grey;
  color: white;
  font-weight: bold;
  padding: 1.18em 1.32em 1.03em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-family: var(--font);
  border: none;
}

.button:before,
.button:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: grey;
  border-radius: 50%;
  transition: transform 0.3s ease;
  transform: scale(0);
  z-index: -1;
}

.button:before {
  top: -25%;
  left: 20%;
}

.button:after {
  bottom: -25%;
  right: 20%;
}

.button:hover:before,
.button:hover:after {
  transform: none;
}

#changePassword {
  color: rgb(203, 203, 203);
  margin: 0 auto;
  width: fit-content;
  display: flex;
  margin-bottom: 35px;
}

.user-edit input {
  text-align: center;
  border-radius: 26px;
}

// search box
.searchBox {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.inputSearch {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  outline: none;
  transition: 0.5s;
}
.searchBox:hover .inputSearch {
  width: 350px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  background: transparent;
}
.searchBox .searchIcon {
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s;
  font-size: 12px;
  top: 20%;
}
.searchBox:hover .searchIcon {
  opacity: 0;
  z-index: -1;
}
