<footer>
  <div class="footer">
    <div class="contact">
      <p>Mọi trách nhiệm và quản lý thuộc về VNMK</p>
      <b><p style="margin-bottom: 0">Contact:</p></b>
      <a href="https://www.facebook.com/groups/vnmkmarket">FANPAGE VNMK</a><br
      />
      <a href="https://www.facebook.com/VNMKMarket/">Team quản lý Chợ bàn phím
        cơ Việt Nam (VNMK)</a>
    </div>
    <div class="logo">
      <img src="/assets/images/Logo_Transparent1.png" alt="" />
    </div>
  </div>
</footer>