{{!-- <div class="login-form">
  <form method="POST" action="/user/updatePassword?_method=PUT">
    <label class="login-lbl"><h1>Change Password</h1></label>
    <div class="form-group">
      <label for="exampleInputPassword1">Current Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    {{#if checkPassword.isCheckPassword}}
      <p>Wrong Password. Please Try Again!</p>
    {{/if}}
    <div class="form-group">
      <label for="exampleInputPassword1">New Password</label>
      <input
        type="password"
        class="form-control"
        id="newPassword"
        name="newPassword"
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        name="confirmPassword"
        required
      />
    </div>
    {{#if checkNewPasswordMatch.isCheckNewPasswordMatch}}
      <p>The new password is not match. Please try again!</p>
    {{/if}}
    {{#if checkNewPasswordMatchCurrent.isCheckNewPasswordMatchCurrent}}
      <p>The new password matches the current password. Please try again!</p>
    {{/if}}
    <button type="submit" class="btn btn-dark" style="border-radius: 16px;">
      Change</button>
  </form>
</div> --}}

<div class="info-card user-edit">
  <div class="card-body">
    <h4 style="text-align: center; padding: 24px 0; font-weight:bold;">Change
      Password</h4>
    <form method="POST" action="/user/updatePassword?_method=PUT">
      <div style="text-align: center;">Current Password:</div>
      <div class="mb-3 form-group">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      {{#if checkPassword.isCheckPassword}}
        <p style="color: red;">Wrong Password. Please Try Again!</p>
      {{/if}}
      <div style="text-align: center;">New Password:</div>
      <div class="mb-3 form-group">
        <input
          type="password"
          class="form-control"
          id="newPassword"
          name="newPassword"
          required
        />
      </div>
      <div style="text-align: center;">Confirm Password</div>
      <div class="mb-3 form-group">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
      </div>
      {{#if checkNewPasswordMatch.isCheckNewPasswordMatch}}
        <p style="color: red;">The new password is not match. Please try again!</p>
      {{/if}}
      {{#if checkNewPasswordMatchCurrent.isCheckNewPasswordMatchCurrent}}
        <p style="color: red;">The new password matches the current password. Please try again!</p>
      {{/if}}
      <div class="wrapper">
        <button type="submit" class="button">CHANGE</button>
      </div>
    </form>

    <svg
      style="visibility: hidden; position: absolute;"
      width="0"
      height="0"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
    >
      <defs>
        <filter id="goo"><feGaussianBlur
            in="SourceGraphic"
            stdDeviation="10"
            result="blur"
          />
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
            result="goo"
          />
          <feComposite in="SourceGraphic" in2="goo" operator="atop" />
        </filter>
      </defs>
    </svg>
  </div>
</div>